@{
    ViewData["Title"] = "User Manager";
}
@using Task4.Models
@model IEnumerable<UserModel>
<h1>@ViewData["Title"]</h1>
<form method="post">

    <input name="type" type="submit" value="Delete" class="btn btn-primary"
           style="width:auto" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Check</th>
                <th>User Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th>
                        <input name="userId" asp-for="@user.Selected" value="@user.Id" class="form-check-input" />
                    </th>
                    <th>
                        <label class="form-check-label" asp-for="@user.Selected">
                            @user.UserName
                        </label>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</form>